# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build
dist/
build/
*.spec

# Virtual environment
venv/
env/
ENV/
.venv/

# Logs and temporary files
*.log
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Converted PDFs (no subir archivos generados)
converted/
